.title{
    text-align:center;
}

  .completeTree {
    max-width: 100%;
  }
  .level{
    font-family: 'Cabin';
    border-radius: 5px;
    border: 0.2px solid #cecece;
    box-shadow: 0 0 3px #cecece;
  }
  .skill{
    font-family: 'Cabin';
    background-color:rgb(255, 255, 255);
  }
  .songlist{
    margin:1% 2% 1% 2%;
    list-style: none;
    padding: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    border-radius: 5px;
    border: 0.2px solid #cecece;
    box-shadow: 0 0 3px #cecece;}
  .song{
    font-family: 'Cabin';
    background-color: rgb(255, 255, 255);
    
  }
  .link{
    text-decoration: none;
    color: black;
  }
  .songelement {  
    padding: 5px 15px 5px 15px;
    background-color: #ffffff;
    color:#435b38;
    border-radius: 5px;
    border: 0.2px solid #59b296;
    box-shadow: 0 0 3px #59b296;
    flex-basis: calc(23.00% - 0px); /* Adjust the width based on the number of items per row */
    margin: 10px;
    text-align:center;
  }
  .osmdScore{
    position: fixed;
    margin: 1% 0%;
    padding:10px;
    top: 0px; /* Move the element 50% down from the top */
    left: 50%; /* Move the element 50% to the right from the left */
    transform: translateX(-1%);
    width: 50%;
    border-radius: 7px;
    border: 0.2px solid #cecdcd;
    box-shadow: 0 0 3px #cecdcd;
    background-color: #ffffff;
    z-index: 1;
  }
  