.container{
    width:100%;
}
.tableBox{
  height: fit-content;
  overflow-y: scroll;
  border:#e5e5e5 solid 1px;
  border-radius: 20px;
  background-color: white;
  margin: 20px 40px;
  box-shadow: 2px 2px 10px rgba(131, 131, 131, 0.2);
}

.title{
    font-weight: bold;
}
.openButton{
    background-color: #c9c9c9;
    border-radius: 10px;
    size: 30px;
    padding: 6px
}
.openIcon{
    background-color: transparent;
}

.header{
    background-color: #88a2cf;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.announcementBody{
    padding: 10px 50px;
}
.teacher{
    display: flex;
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    align-items: center;
}
.userIcon{
    border-radius: 50%;
    border: #c9c9c9 2px solid;
    padding: 10px;
    margin: 0 5px 0 5px;
    color: rgb(113, 113, 113);
}

.message{
    font-style: oblique;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 12px 30px;
    
}
.list{
    list-style-type: circle;
}
.note{
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content:center;
    margin: 10px;
}

.text{
    padding:0px 10px;
}
.iconbutton{
    border:none;
    background-color: transparent;
}
  .exclamationIcon{
    color:rgb(230, 37, 37)
  }
  .simpleIcon{
    color:rgb(115, 115, 115);
    margin:0px 10px;
  }
  .taskGroup{
    display: flex;
  }
  .taskItem{
    border: solid 1px #dde7fa;
    height: fit-content;
    width: fit-content;
    border-radius: 7px;
    margin: 10px;
    box-shadow: 2px 2px 10px rgba(131, 131, 131, 0.2);
  }
  .taskHeader{
    background-color: #dde7fa;
    padding: 10px 50px;
    align-items: left;
}
.submitted{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: #3da047;
}
.notSubmitted{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: #e41e00;
}
.cursive{
    font-style: oblique;
}
.buttonGroup{
    margin: 0px 0px 0px 30px
}