/* ListRecordings.css */

/*General styling*/
body {
  margin: 0;
  font-family: 'Cabin'; /* You can choose the font you prefer */
}
.container {
  min-height: 100vh; /* Ensure the container covers the full viewport height */
  text-align: left;
  background-color: #FFFFFF;
}
.container h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 25px 50px;
  text-align: center;
}
  /*List of songs*/
.songlist {
  background-color: #FFFFFF;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  
}
.songlist2 {
  background-color: #FFFFFF;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
/*Items of list*/
/*.songlist li {
  padding: 10px;
  background-color: #8fb0cd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;    
}*/ 
.songelement {  
  padding: 5px;
  background-color: #FFFFFF;
  color:#000000;
  border-radius: 5px;
  border: 0.2px solid #CADDFB;
  box-shadow: 0 0 3px #CADDFB;
  flex-basis: calc(23.00% - 0px); /* Adjust the width based on the number of items per row */
  margin: 10px;
  text-align:center;
}
.songelement2 {  
  padding: 5px;
  background-color: #FFFFFF;
  color:#000000;
  border-radius: 5px;
  border: 0.2px solid #CADDFB;
  box-shadow: 0 0 3px #CADDFB;
  flex-basis: calc(23.00% - 0px); /* Adjust the width based on the number of items per row */
  margin: 10px;
  text-align:left;
}

  
/* Media queries for responsiveness */
@media (max-width: 900px) {
  .songlist li {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .songlist li {
    flex-basis: calc(100% - 20px);
  }
}
  
/*Backward button*/
.backbutton {
  margin-top: 20px;
  padding: 10px 15px;
  background-color:#9E9E9E;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 10%;
  align-items:center;
}
.completeStar{
  color:#E8D73F;
  font-size:25px;
  margin:6px 5px;
}
.incompleteStar{
  color:#909090;
  font-size:25px;
  margin:6px 5px;
}
.starsGroup{
  text-align: center;
  margin: 5px;
}
.auxIcon{
  font-size:22px;
  color:#B3B3B3;
  margin:0px 11px;
}
.textGroup{
  margin:5px
}
.recTitle{
  width:100%;
  background-color: #CADDFB;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}
.dateTime{
  font-size:13px;
text-align: right;
margin: 0px 5px 0px 0px;
}
.back2Listbutton {
  margin-top: 20px;
  padding: 10px 15px;
  background-color:#9E9E9E;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 10%;
  align-items:center;
}
.backbutton:hover {
  background-color: #717171;
}
.iconbutton {
  margin: 4px;
  padding: 2px;
  color: #939393;
  background-color: transparent;
  cursor: pointer;
  width: 40%;
  border:none;
  font-size: 20px;
  border: 0.2px solid #D5DFCE;
  border-radius: 5px;
}
.iconModify {
  margin: 0px 2px;
  color: #939393;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  align-self: right;
}
.iconbutton:hover {
  background-color: #D2E8E1;
  border-radius: 5px;
}
.buttonGroup{
  margin:2px;
  border-radius: 5px;
  text-align: center;
}

  