.dropdown {
    display: inline-block;
    position: fixed;
  }

  /* Style the dropdown button (label) */
  .dropbtn {
    background-color: #23292B; 
    font-family: var(--lato);
    color: var(--blue-300);
    padding: 10px;
    cursor: pointer;
  }


  /* Hide the checkbox boxinput */
  .dropdown_toggle {
    display: none;
  }

  .dropdown_content {
    display: none;
    padding:3px;
    background-color: #23292B; 
    position: absolute;
    left: 2em;
    width: 14em;
    color: white;
    border: var(--blue-300) 3px solid; 
    z-index: 100;
    border-radius: 4%;
  }

  .dropdown_content a {
    color: var(--blue-300);
    text-decoration: none;
  }

  /* Show the dropdown content when checkbox is checked */
  .dropdown_toggle:checked + .dropbtn + .dropdown_content {
    display: block;
  }

  .timerbuttoncontainer {
    display: flex;
    margin-top: 1em;
    justify-content: space-between; /* This does the magic */
    align-items: center; /* This ensures that the items are vertically centered */
  }

