.simpleMessage {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* padding: 1px; */
  margin: 50px 80px 0;
  width: fit-content;
  position: fixed;
}
