/* ModeInfoButton.css */

/*General styling*/
.body {
  background-color: #ffffff;
  justify-content: center;

  position: fixed;
  left: 85%;
  top: 15%;
  transform: translateX(-50%);
  width: 25%;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #333;
}

.InfoMode {
  justify-content: center;
  position: fixed;
  left: 90%;
  top: 8%;
  padding: 0% 0% 0% 0%;
}

.InfoModeButton {
  color: rgba(0, 0, 0, 0.87);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.container {
  text-align: left;
  padding: 20px;
  width: 100%;
}

.completeStar {
  color: #e8d73f;
  font-size: 25px;
  margin: 6px 5px;
}
.incompleteStar {
  color: #909090;
  font-size: 25px;
  margin: 6px 5px;
}
.starsGroup {
  text-align: center;
  margin: 5px;
}
.recTitle {
  width: 100%;
  background-color: #dde172;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}
.dateTime {
  font-size: 13px;
  text-align: right;
  margin: 0px 5px 0px 0px;
}

.message {
  margin: 0;
  font-family: 'Cabin';
}

.recBox {
  padding: 5px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 0.2px solid #dde172;
  box-shadow: 0 0 3px #dde172;
  flex-basis: calc(
    23% - 0px
  ); /* Adjust the width based on the number of items per row */
  margin: 10px;
  text-align: center;
}
.auxIcon {
  font-size: 22px;
  color: #b3b3b3;
  margin: 0px 11px;
}
.textGroup {
  margin: 5px;
  text-align: left;
}
