
/*CSS for Save/Delete PopupWindow*/
.popUpWindowSave {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 80%;
    background: white;
    border: 2px solid #A3CD8F;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center; /* Center text within the container */
  }
  
  .contentSave {
    padding: 20px;
  }
  
  /* Style the buttons */
  .buttonSave {
    margin: 10px 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #A3CD8F;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
  }

  /*CSS for Delete Yes/No PopupWindow*/
  .popUpWindowDelete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 80%;
    background: white;
    border: 2px solid #DDE172;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center; /* Center text within the container */
  }
  
  .contentDelete {
    padding: 20px;
  }

  .buttonDelete {
    margin: 10px 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #DDE172;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
  }
  


  /*Common for all*/
  button:hover {
    background-color: #a2a2a2;
  }

  /*CSS for Showing Grades of assignments PopupWindow*/

  .popUpWindowGrades {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background: white;
    border: 2px solid #4f72a1;
    border-radius: 8px;
    box-shadow: 0 0 20px #8e9093;
    z-index: 1000;
    text-align: center; /* Center text within the container */
  }
  .contentGrades {
    padding: 20px;
  }
  .buttonCloseGrades {
    margin: 20px 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4f72a1;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
  }
  .titleGrades{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
  }
  .gradeGrades{
    font-size:x-large;
    font-weight: bolder;
    padding: 10px;
  }
  .commentGrades{
    font-weight: lighter;
    font-style: oblique;
    background-color: #e8ebee;
    box-shadow: 0 0 20px rgba(187, 187, 187, 0.2);
    padding: 10px;

  border-radius: 10px;  }

  /*CSS for showing recordings of a score to choose to submit PopupWindow*/

  .popUpWindowRecordings {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    background: white;
    border: 2px solid #4f72a1;
    border-radius: 8px;
    box-shadow: 0 0 20px #8e9093;
    z-index: 1000;
    text-align: center; /* Center text within the container */
    padding: 20px;
  }

  .iconGroup{

    display:flex;
    background-color: rgb(241, 241, 241);
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    padding: 5px 0px;
    margin: 10px 0px
  }
  .icon{
    font-size:22px;
    color:#b3b3b3;
    margin:0px 11px;
  }
  .assurance{
    margin:20px;
    padding: 20px;
    
    box-shadow: 0 0 20px #c72424;
    border-radius: 20px;
    font-weight: bolder;

    }

    .yesIcon{
      font-size:25px;
      color:rgb(11, 120, 82);
      margin:0px 11px;
      font-weight: bolder;
    }
    .noIcon{
      font-size:25px;
      color:#c72424;
      margin:0px 11px;
      font-weight: bolder;
    }
  