.content {
  font-size: 5px;
  margin: 10px;
  text-align: left;
}
.title {
  font-weight: bold;
}

.completeStar {
  color: #e8d73f;
  font-size: 25px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
