.container{
    width:100%;
}
.tableBox{
  height: 300px;
  overflow-y: scroll;
  border:#e5e5e5 solid 1px;
  padding:10px;
}
.dynamicTable{
    border-collapse: collapse;
  width: 100%;
  font-size: 15px;
}
.title{
    font-weight: bold;
}
.dynamicTable tr {
    border: 3px hidden #b1b1b1;
    text-align: center;
    padding: 8px;
  }

  .dynamicTable th {
    background-color: transparent; /* Gray background for headers */
    color:#88a2cf;
  }
  
  .iconbutton{
    border:none;
    background-color: transparent;
  }